html, body {
	padding: 0px;
	margin: 0px;
	color: #ffffff;
}

#logo {
	width: 300px;
	height: 300px;
	border: 1px solid #facade;
}

table {
	padding: 0px;
	margin: 0px;
	border: 1px solid #ececec;
	border-collapse: separate;
	border-spacing: 0px;
}

td {
	padding: 1px;
	background-color: #333333;
}
