html, body {
	padding: 0px;
	margin: 0px;
	/*color: #ffffff;*/
}

#logo {
	/*overflow: hidden;*/
	width: 200px;
	height: 200px;
}

#logo table{
	padding: 0px;
	margin: 0px;
	border-collapse: separate;
	border-spacing: 1px;
}

#cell {
	padding: 20px;
		
}


.active {
}

.logopixel {
}